<div id="nav-bar">
    <div id="nav-bar-title-container">
        <p id="nav-bar-title" >DATANOTE</p>
    </div>
    <div id="nav-bar-home-container">
        <p id="nav-bar-home" >TRANGCHỦ</p>
    </div>
    <div id="nav-bar-about-container">
        <p id="nav-bar-about" >SẢNPHẨM</p>
    </div>
    <div id="nav-bar-news-container">
        <p id="nav-bar-news" >TINTỨC</p>
    </div>
    <div id="nav-bar-contact-container">
        <p id="nav-bar-contact">LIÊNHỆ</p>
    </div>
    <div id="nav-bar-login-container">
        <p id="nav-bar-login" >LOGIN</p>
    </div>
</div>
